<html ng-app="Pics">
<!--
      ___                       ___           ___           ___     
     /\  \          ___        /\__\         /\  \         /\  \    
    /::\  \        /\  \      /:/  /        /::\  \       /::\  \   
   /:/\:\  \       \:\  \    /:/  /        /:/\:\  \     /:/\:\  \  
  /::\~\:\  \      /::\__\  /:/__/  ___   /::\~\:\  \   /::\~\:\  \ 
 /:/\:\ \:\__\  __/:/\/__/  |:|  | /\__\ /:/\:\ \:\__\ /:/\:\ \:\__\
 \/_|::\/:/  / /\/:/  /     |:|  |/:/  / \:\~\:\ \/__/ \/_|::\/:/  /
    |:|::/  /  \::/__/      |:|__/:/  /   \:\ \:\__\      |:|::/  / 
    |:|\/__/    \:\__\       \::::/__/     \:\ \/__/      |:|\/__/  
    |:|  |       \/__/        ~~~~          \:\__\        |:|  |    
     \|__|                                   \/__/         \|__|    

By David Hariri, 2014
http://www.dhariri.com
-->
<head>
    <% if(typeof (title) != 'undefined') { %>
<title><%= title %></title>

<% } %>
    <!-- So Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/css/normal.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/stroll.css">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script src="http://code.angularjs.org/1.2.7/angular-animate.min.js"></script>
   <script src="/js/stroll.js"></script>
    <script src="/js/core.js"></script>
    <!-- Humans -->
    <link rel="author" href="humans.txt">
</head>
<body>
<div class="nav">

<% if(typeof (title) != 'undefined') { %>
<h1><%= title %></h1>

<% } %>
</div>

<div style="width:100%">
  <%- body -%>
</div>
      
 

</body>

<script>
            stroll.bind( 'ul' );
        
        </script>

</html>
