<% layout(layoutPath) -%>
<div class="center">
<h2>Welcome to <span>partystream</span>, here you can browse pictures taken by <span>you</span> or your fellow party goers from parties that you have attended</h2>
</div>