<% layout(layoutPath) -%>
<div class="center">
<h1>Reset Password</h1>
<form action="/reset_password" method="post">
  <fieldset>
    <label>Email:</label>
    <input type="email" name="email" /><br/>
    <button class="btn">Reset Password</button>
  </fieldset>
</form>
</div>